.title {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: clamp(180px,80vw, 25rem);
    font-size: 1rem;
    padding-bottom: 2rem;
}

.input-box {
    width: 100%;
}

.submit{
    padding: 8px;
    background-color: #fd0057;
    color: white;
    width: 100%;
    border-radius: 0.8rem;
}

.submit:hover {
    transition: 0.5s ease-out;
    color: white;
    background-color: #0a96f4;
}

.msg {
    font-size: 0.8rem;
    text-align: center;
    word-break: break-all;
    width: 100%;
    color: #fd0057;
}