{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/form.css' %}">
{% endblock links %}

{% block nav %}
<li><a href="/logout">Log out</a></li>
{% endblock nav %}

{% block main %}
<div class="title">
    <h1>Add A New Organ</h1>
</div>
<div class="form-container">
    <form method="post" action="{% url 'admin_validate_add_new_organ' %}">{%csrf_token%}
        <div class="form-wrapper">
            <div class="input-box">
                <input type="text" name="name" id="organName"  placeholder="" autofocus required>
                <label for="organName" class="input-label">New organ name</label>
            </div>
            <div class="input-options">
                <label for="DType">Donation type: </label>
                <select name="type" id="DType" required>
                    <option value="">Select</option>
                    <option value="A">Can donate multiple times while alive</option>
                    <option value="P">Can donate once times while alive</option>
                    <option value="D">Can only be donated after death</option>
                </select>
            </div>
            <div class="msg">
                {{message}}
            </div>
            <div class="input-box">
                <input type="submit"  class="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
{% endblock main %}