{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/search.css' %}">
<link rel="stylesheet" href="{% static '/css/base-card.css' %}">
{% endblock links %}

{% block nav %}
<li><a href="/home">Home</a></li>
{% endblock nav %}

{% block main %}
<div class="title">
    <h1>View Hospital Witing For Approval</h1>
</div>
{% if records %}
<div class="base-card-container">
    {% for photo,id,name,place,regdate in records %}
    <div class="base-card-wrapper">
        <div class="base-card">
            <div class="base-card-img skeleton">
                <img src="/static/data/hospital/photo/{{photo}}" alt="{{ Name }} img">
            </div>
            <div class="base-card-text-container">
                <div class="base-card-name">
                    {{ name }}
                </div>
                <div class="base-card-items">
                    <div class="items">
                        <div class="item-name">Hospital ID</div>
                        <div class="item-content">{{id}}</div>
                    </div>
                    <div class="items">
                        <div class="item-name">Place</div>
                        <div class="item-content">{{place}}</div>
                    </div>
                    <div class="items">
                        <div class="item-name">Reg date</div>
                        <div class="item-content">{{regdate}}</div>
                    </div>
                    <form action="{% url 'show_hospital_details' %}" method="post">
                        <div class="base-card-button">
                            {% csrf_token %}
                            <input type="hidden" name="hid" value="{{id}}">
                            <input type="submit" value="Show">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% else %}
<div id="not-found" class="div-not-found"></div>
<div class="div-not-found"></div>
<div class="search-not-found">
    <div class="not-found-wrapper">
        <div class="not-found-text">
            No Hospitals Waiting for Approval
        </div>
        <div class="not-found-img">
            <img src="{% static 'img/search/sorry.jpg' %}" alt="">
        </div>
    </div>
</div>

<script>
    location.href = "#"
    location.href = "#not-found"
</script>


{% endif %}
{% endblock main %}