{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/base-card.css' %}">
{% endblock links %}

{% block nav %}
    <li><a href="/">Home</a></li>
{% endblock nav %}

{% block main %}
    <div class="title"><h1>View or add new organs</h1></div>
    <div class="base-card-container">
        {% include "base_card.html" with card_img="/img/dash/organ.png" card_alt="Add new organ" card_text="Add new organ to the list of available organs" card_name="Add new organ" card_link="admin_add_new_organ" card_btn="Add" %}
        {% include "base_card.html" with card_img="/img/features/OrganMatch.png" card_alt="Change password" card_text="View the current organs available for donation" card_name="View List of organs" card_link="admin_organ_list" card_btn="View" %}
    </div>
{% endblock main %}