<html>
    <body>
        <h1 align="center">Welcome admin</h1>
        <div>
            <div>
                <a href="{% url 'change_admin_pass' %}">change password</a>
            </div>
            <div>
                <a href="{% url 'hospital_approval' %}">Hospital Approval</a>
            </div>
            <div>
                <a href="{% url 'admin_add_new_organ' %}">Add new organ</a>
            </div>
            <div>
                <a href="{% url 'admin_organ_list' %}">View list of current organs</a>
            </div>
        </div>
    </body>
</html>
