{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/base-card.css' %}">
{% endblock links %}

{% block nav %}
    <li><a href="/logout">Log out</a></li>
{% endblock nav %}

{% block main %}
    <div class="title"><h1>Welcome to Jeevan</h1></div>
    <div class="base-card-container">
        {% include "base_card.html" with card_img="/img/dash/pass.jpg" card_alt="Change password" card_text="change your authentication password" card_name="Change password" card_link="change_pass" card_btn="Change Now" %}
        {% include "base_card.html" with card_img="/img/dash/hospital.jpg" card_alt="Hospital Approval" card_text="Approve or reject hospital waiting for verification" card_name="Hospital Approval" card_link="hospital_approval" card_btn="Verify Now" %}
        {% include "base_card.html" with card_img="/img/dash/stats.jpg" card_alt="User Stats And details" card_text="View users statistics and details about them" card_name="User statistics and details " card_link="admin_view_users" card_btn="Check Out" %}
        {% include "base_card.html" with card_img="/img/dash/organ-list.jpg" card_alt="View or edit organs" card_text="View or edit the organs available for donation" card_name="View or edit List of organs" card_link="admin_view_or_edit_organ_list" card_btn="View Now" %}
    </div>
{% endblock main %}