<html>
    
    <header>
        <title> Change Admin Password </title>
    </header>
    
    <script>
        function input_validation() {
            // check if password fields are empty
            if (document.change_pass.c_pass.value === "" || document.change_pass.n_pass.value === "" || document.change_pass.r_pass.value === "")
            {
                alert("Please fill all passwords");
                return (false);
            }
            // check if new password and re-type password is same
            if(document.change_pass.n_pass.value != document.change_pass.r_pass.value) 
            {
                alert("New password and Re-Type password should be same");
                return (false);
            }
        }
    </script>
    
    <body>
        <h1 align="center">change password</h1>
        <form action="{% url 'check_admin_pass' %}" method="post" onsubmit="return input_validation()" name="change_pass">{% csrf_token %}
            <table align="center" border="0" cellpadding="10">
                <tr>
                    <td>
                        Current password
                    </td>
                    <td>
                        <input type="password" name="c_pass">
                    </td>
                </tr>
                <tr>
                    <td>
                        New password
                    </td>
                    <td>
                        <input type="password" name="n_pass">
                    </td>
                </tr>
                <tr>
                    <td>
                        Re-Type password
                    </td>
                    <td>
                        <input type="password" name="r_pass">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit">
                        <input type="reset">
                    </td>
                    <td>
                        {{ message }}
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>