{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/base-profile.css' %}">
<link rel="stylesheet" href="{% static '/css/form.css' %}">
<link rel="stylesheet" href="{% static '/css/approval.css' %}">
{% endblock links %}

{% block nav %}
<li><a href="/">Home</a></li>
{% endblock nav %}

{% block main %}

<div class="profile-title">
    Donor Details
</div>
<div class="profile-container">

    {% for donorID,HospitalID,Name,Gender,BloodGroup,TypeOfDonation,DOB,Pin,Place,District,Address,Phone,Email,photoName,MedicalReport,RegDate in records %}

    {% with photo="/data/donor/photo/"|add:photoName %}

    {% include "base_profile.html" with id=donorID hid=HospitalID name=Name gender=Gender bloodGroup=BloodGroup donorType=TypeOfDonation dob=DOB pin=Pin place=Place district=District address=Address phone=Phone email=Email photoName=photo proofName=MedicalReport regDate=RegDate proofUrl='download_donor_report' %}

    {% endwith %}

    {%endfor%}

    <form name="approval_form" method="post" action="{% url 'validate_donor_approval' %}">
        {% csrf_token %}
        <div class="form-wrapper">
            <div class="profile-name">Approve Donor</div>
            <div class="input-box">
                <div>Approve</div>
                <div>
                    <input name="approve_status" type="radio" id="status-yes" value="Yes" checked {{disabled}}>
                    <label for="status-yes">Yes</label>
                    <input name="approve_status" type="radio" id="status-no" value="No" {{disabled}}>
                    <label for="status-no">No</label>
                </div>
            </div>
            <div class="input-options">
                <textarea name="comment" maxlength="200" cols="30" required {{disabled}}></textarea>
                <input type="text" name="donorID" value="{{did}}" hidden>
            </div>
            {% if message %}
            <div class="msg">
                {{message}}
            </div>
            {% endif %}
            <div class="input-box">
                <input type="submit"  class="submit" value="Submit">
            </div>
      </div>
  </div>
</form>

</div>

{% endblock main %}