<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
          .form-wrapper {
            display: flex;
            justify-content: center;
            margin: 15px;
        }

        .inner {
            padding: 5px;
        }
        </style>
    </head>

    <body>
        <h1 align="center">New Organ Donation Registration</h1>
        <div class="form-wrapper">
        <form method="post" align="center" action="/validate_donor_new_organ_donation">
            {% csrf_token%}
            <div class="inner">
            <label for="name">Select the organ you want to donate :</label>
            <select name="name" id="name" required>
                <option value="">Select</option>
                {%for OrganName,DonationType in records%}
                <option value="{{OrganName}}">{{OrganName}}</option>
                {%endfor%}
            </select>
            <h2>{{message}}</h2>
            <input type="submit" />
          </div>
        </form>
      </div>
        <table border="1" cellspacing="0" align="center" cellpadding="3">
            <tr>
                <th>Organ Name</th>
                <th>Donation Type</th>
            </tr>
            {%for OrganName,DonationType in records%}
            <tr>
                <td >{{OrganName}}</td>
                <td >{{DonationType}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
