<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organ Availability Index</title>
</head>

<body>
    <h1 align="center">List of Donors</h1>
    <div>
        <table border="1px" cellspacing="0px" align="center" cellpadding="5px">
            {% if records %}
            <tr>
                <td>Name</td>
                <td>Place</td>
                <td>District</td>
                <td>Phone</td>
                <td>Email</td>
            </tr>
            {% for Name,Place,District,Phone,Email in records %}
            <tr>
                <td>{{Name}}</td>
                <td>{{Place}}</td>
                <td>{{District}}</td>
                <td>{{Phone}}</td>
                <td>{{Email}}</td>
            </tr>
            {% endfor %}
            {% else %}<br><b>No Donors found</b>
            {% endif %}
        </table>
    </div>
</body>

</html>