{% extends 'base.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static '/css/base-card.css' %}">
{% endblock links %}

{% block nav %}
    <li><a href="/logout">Log out</a></li>
{% endblock nav %}

{% block main %}

<div class="base-title"><h1>Welcome to Jeevan</h1></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="base-card-container">

    {% include "base_card.html" with card_img="/img/dash/pass.jpg" card_alt="Change password" card_text="change your authentication password" card_name="Change password" card_link="change_pass" card_btn="Change Now" %}
    {% include "base_card.html" with card_img="/img/users/Donor.jpg" card_alt="Donor Approval" card_text="Approve or reject Donors waiting for verification" card_name="Donor Approval" card_link="donor_approval" card_btn="Verify Now" %}
    {% include "base_card.html" with card_img="/img/users/Patient.jpg" card_alt="Patient Approval" card_text="Approve or reject Patients waiting for verification" card_name="Patient Approval" card_link="patient_approval" card_btn="Verify Now" %}
    {% include "base_card.html" with card_img="/img/dash/stats.jpg" card_alt="User Stats And details" card_text="View users statistics and details about them" card_name="User statistics and details " card_link="hospital_view_users_and_stats" card_btn="Check Out" %}
    {% include "base_card.html" with card_img="/img/misc/approve-organ.png" card_alt="Organ match request approval" card_text="Aprove or deny organ donation donation request" card_name="Organ match approval" card_link="hospital_organ_request_approval" card_btn="Aprove Now" %}
    {% include "base_card.html" with card_img="/img/misc/cancel-organ.png" card_alt="Cancel Organ match Request" card_text="Cancel an previosly approved organ donation request" card_name="Cancel Organ match request" card_link="hospital_cancel_patient_organ_request" card_btn="Cancel Now" %}
    {% include "base_card.html" with card_img="/img/features/OrganMatch.jpg" card_alt="Organ match entry" card_text="Enter details of the result of the organ donation" card_name="Organ match entry" card_link="hospital_organ_transplantation" card_btn="Enter Now" %}
    {% include "base_card.html" with card_img="/img/features/BloodVitality.jpg" card_alt="blood match entry" card_text="Enter details of the result of the blood donation" card_name="blood match entry" card_link="hospital_find_blood_donor" card_btn="Enter Now" %}
        
</div>

{% endblock main %}