{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/search.css' %}">
<link rel="stylesheet" href="{% static '/css/base-card.css' %}">
{% endblock links %}

{% block nav %}
<li><a href="/">Home</a></li>
{% endblock nav %}

{% block main %}
<div class="title">
    <h1>Organ Match Approval</h1>
</div>
{% if records %}
<div class="base-card-container">    
    {% for RequestID,PatientID,OrganName,Request,RequestDate in records %}
    <div class="base-card-wrapper">
        <div class="base-card">
            <div class="base-card-text-container">
                <div class="base-card-items">
                    <div class="base-card-name">
                        {{Request}}
                    </div>
                    <div class="items">
                        <div class="item-name">Request ID</div>
                        <div class="item-content">{{RequestID}}</div>
                    </div>
                    <div class="items">
                        <div class="item-name">Patient ID</div>
                        <div class="item-content">{{PatientID}}</div>
                    </div>
                    <div class="items">
                        <div class="item-name">Organ Name</div>
                        <div class="item-content">{{OrganName}}</div>
                    </div>
                    <div class="items">
                        <div class="item-name">Registration date</div>
                        <div class="item-content">{{RequestDate}}</div>
                    </div>
                    <form action="{% url 'hospital_show_organ_approval_details' %}" method="post">
                    <div class="base-card-button">
                            {% csrf_token %}
                            <input type="hidden" name="rid" value="{{RequestID}}" />
                            <input type="hidden" name="id" value="{{PatientID}}"  />
                            <input type="submit" value="Aprove Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div id="not-found" class="div-not-found"></div>
<div class="div-not-found"></div>
<div class="search-not-found">
    <div class="not-found-wrapper">
        <div class="not-found-text">
            No Patients Waiting for Approval
        </div>
        <div class="not-found-img">
            <img src="{% static 'img/search/sorry.jpg' %}" alt="">
        </div>
    </div>
</div>
<script>
    location.href = "#not-found"
</script> 
{% endif %}

{% endblock main %}

