<html>
  <head>
    <title>Hospital Registration</title>
  </head>

  <script>
    function validateForm() {
      if (document.h_reg.h_name.value == '' || document.h_reg.h_place.value == '' || document.h_reg.h_loc.value == '' || document.h_reg.h_pin.value == '' || document.h_reg.h_phone.value == '' || document.h_reg.h_email.value == '' || document.h_reg.h_dist.value == '' || document.h_reg.h_type.value == '' || document.h_reg.h_pass.value == '' || document.h_reg.h_rpass.value == '') {
        alert('Please fill in all required fields.') // check if any of the fields are empty
        return false
      }
      if (document.h_reg.h_pass.value !== document.h_reg.h_rpass.value) {
        alert('Passwords do not match.') // check if Passwords match
        return false
      }
      return true
    }
  </script>

  <body>
    <h1 align="center">Hospital Registration</h1>
    <form action="/get_hreg" method="post" enctype="multipart/form-data" name="h_reg" onsubmit="return validateForm();">
      {% csrf_token %}
      <table border="0" align="center" cellpadding="15">
        <tr>
          <td>Hospital name</td>
          <td>
            <input type="text" name="h_name" id="h-name" maxlength="50" />
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td>
            <input type="text" name="h_place" id="h-place" maxlength="50" />
          </td>
        </tr>
        <tr>
          <td>Location</td>
          <td>
            <input type="text" name="h_loc" id="h-loc" maxlength="50" />
          </td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>
            <input type="text" name="h_pin" id="h-pin" maxlength="6" />
          </td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>
            <input type="number" name="h_phone" id="h-phone" maxlength="12" />
          </td>
        </tr>
        <tr>
          <td>District</td>
          <td>
            <select name="h_dist" id="h-dist">
              <option value="">Select a District</option>
              <option value="Alappuzha">Alappuzha</option>
              <option value="Ernakulam">Ernakulam</option>
              <option value="Idukki">Idukki</option>
              <option value="Kannur">Kannur</option>
              <option value="Kasaragod">Kasaragod</option>
              <option value="Kollam">Kollam</option>
              <option value="Kottayam">Kottayam</option>
              <option value="Kozhikode">Kozhikode</option>
              <option value="Malappuram">Malappuram</option>
              <option value="Palakkad">Palakkad</option>
              <option value="Pathanamthitta">Pathanamthitta</option>
              <option value="Thiruvananthapuram">Thiruvananthapuram</option>
              <option value="Thrissur">Thrissur</option>
              <option value="Wayanad">Wayanad</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <input type="email" name="h_email" id="h-email" />
          </td>
        </tr>
        <tr>
          <td>Type of the Hospital</td>
          <td>
            <select name="h_type" id="h-type">
              <option value="">Select a Category</option>
              <option value="General">General Medical & Surgical Hospitals</option>
              <option value="Specialty">Specialty Hospitals</option>
              <option value="Emergency">Emergency & Other Outpatient Care Centers</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Does your Hospital have a blood bank</td>
          <td>
            <input type="radio" name="h_bb" id="h-bb-yes" value="Y" />
            <label for="h-bb-yes">Yes</label>
            <input type="radio" name="h_bb" id="h-bb-no" value="N" checked />
            <label for="h-bb-no">No</label>
          </td>
        </tr>
        <tr>
          <td>Upload Proof</td>
          <td>
            <input type="file" name="h_proof" id="h-proof" />
          </td>
        </tr>
        <tr>
          <td>Upload Photo</td>
          <td>
            <input type="file" name="h_photo" id="h-photo" />
          </td>
        </tr>
        <tr>
          <td>Enter your Password</td>
          <td>
            <input type="password" name="h_pass" id="h-pass" />
          </td>
        </tr>
        <tr>
          <td>Re Type Password</td>
          <td>
            <input type="password" name="h_rpass" id="h-rpass" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Submit" id="h-submit" />
            <input type="reset" value="Reset" id="h-reset" />
          </td>
          <td>{{ message }}</td>
        </tr>
      </table>
    </form>
  </body>
</html>
