<html>
 <head>
    <title>Hospital Registration</title>
 </head>

 <body>

 <table width="913" border="0" cellpadding="0" cellspacing="0" align="center">
    <!--DWLayoutTable-->
    <tr>
      <td width="47" height="41">&nbsp;</td>
      <td width="156">&nbsp;</td>
      <td width="340">&nbsp;</td>
      <td width="41">&nbsp;</td>
      <td width="107">&nbsp;</td>
      <td width="150">&nbsp;</td>
      <td width="72">&nbsp;</td>
    </tr>
    <tr>
      <td height="55">&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="3" valign="top"><h1 align="center">H<u>os</u>p<u>ital Detail</u>s </h1></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="60">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="329">&nbsp;</td>
      <td colspan="2" rowspan="2" valign="top">{% if records %}<table border="0" align="center" cellpadding="15">
        {% for photoName,id,name,place,Location,pin,phone,District,Email,type,hasbloodbank,proofName,regdate in records %}
        <tr>
          <td>
            <img src="/static/data/hospital/photo/{{ photoName }}" width="300px">
          </td>
        </tr>
        <tr>
          <td>Hospital ID</td>
          <td>
            <label>{{id}}</label>
          </td>
        </tr>
        <tr>
          <td>Hospital name</td>
          <td>
            <label>{{name}}</label>
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td>
            <label>{{place}}</label>
          </td>
        </tr>
        <tr>
          <td>Location</td>
          <td>
            <label>{{Location}}</label>
          </td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>
            <label>{{pin}}</label>
          </td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>
            <label>{{phone}}</label>
          </td>
        </tr>
        <tr>
          <td>District</td>
          <td>
            <label>{{District}}</label>
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <label>{{Email}}</label>
          </td>
        </tr>
        <tr>
          <td>Type of the Hospital</td>
          <td>
            <label>{{type}}</label>
          </td>
        </tr>
        <tr>
          <td>Does Hospital have a blood bank</td>
          <td>
            <input type="radio" name="h_bb" id="h-bb" checked disabled/>
            <label for="h-bb">{{hasbloodbank}}</label>
          </td>
        </tr>
        <tr>
          <td>Proof</td>
          <td><form nam="h_proof" method="post" action="{% url 'download_hospital_proof' %}">
            {% csrf_token %}
            <input type="hidden" name="h_proof" value="{{ proofName }}">
            <input type="submit" value="Download Proof">
          </form>
          </td>
        </tr>
        <tr>
          <td>Registration date</td>
          <td>
            <label>{{regdate}}</label>
          </td>
        </tr>
      </table>        </td>
      <td>&nbsp;</td>
      <td colspan="2" valign="top"><h2 align="center"><u>A</u>pp<u>roval</u></h2>
        <form name="approval_form" method="post" action="{% url 'validate_hospital_approval' %}">
          {% csrf_token %}
          <table width="300" height="290" border="0" cellpadding="5">
            <tr>
              <td width="161">Approval Status</td>
              <td width="119"><p>
                <div>
                <input name="approve_status" type="radio" id="status-yes" value="Yes" checked>
                <label for="status-yes">Yes</label> 
                </div>
                <div>
                 <input name="approve_status" type="radio" value="No" id="status-no">
                 <label for="status-no">No</label></td> </div>
                </tr>
                <tr>
                 <td height="55" colspan="2">Comment</td>
                </tr>
                <tr>
                 <td height="74" colspan="2"><textarea name="comment" maxlength="200"></textarea></td>
                 <input type="text" name="hid" value="{{id}}" hidden>
                </tr>
                <tr>
                 <td colspan="2"><input type="submit" name="Submit" value="Approve"></td>
                </tr>
                                      {% endfor %}
              {% else %}<br><b>No Hospitals are waiting for approval</b>{% endif %}
      <tr>
        <td>
          {{ message }}
        </td>
      </tr>
          </table>
        </form>        <p align="center"><u></u></p></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="603">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="38">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
 </table>
 </body>
</html>
