<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Patient organ request cancellation</title>
    </head>
    <body>
        <h1 align="center">Patient organ request cancellation</h1>
        <table border="1" cellspacing="0" align="center" cellpadding="10">
            {%if RequestDetails%}
            <tr>
                <td>Request ID</td>
                <td>Patient ID</td>
                <td>Organ Name</td>
                <td>Request</td>
                <td>Date</td>
                <td>Cancel Request</td>
            </tr>
            {% for RequestID,PatientID,OrganName,Request,RequestDate in RequestDetails %}
            <tr>
                <td>{{RequestID}}</td>
                <td>{{PatientID}}</td>
                <td>{{OrganName}}</td>
                <td>{{Request}}</td>
                <td>{{RequestDate}}</td>
                <td align="center">
                    <form method="post" action="validate_hospital_cancel_patient_organ_request">{%csrf_token%}
                        <input type="hidden" name="rid" value="{{RequestID}}">
                        <input type="submit" value="Cancel">
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
        {%else%}
        <div style="text-align: center;">
            <b>No Request available for cancellation</b>
        </div>
        {%endif%}
        <div style="text-align: center;">
            <b>{{message}}</b>
        </div>
    </body>
</html>
