<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organ Availability Index</title>
    <style>
        main {
            display: flex;
            justify-content: center;
        }

        .inner {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1 align="center">Find Blood donors</h1>
    <main>
        <div class="container">
            <form action="{% url 'hospital_get_blood_donor_list' %}" method="post">{% csrf_token %}
                <div class="inner">
                    <label for="dist">District</label>
                    <select id="dist" name="dist">
                        <option value="">select</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Idukki">Idukki</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Kasaragod">Kasaragod</option>
                        <option value="Kollam">Kollam</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Wayanad">Wayanad</option>
                    </select>
                </div>
                <div class="inner">
                    <label for="blood">Blood group</label>
                    <select id="blood" name="blood">
                        <option value="">select</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
                <div class="inner">
                    <label>Gender</label>
                    <div>
                        <input type="radio" name="gender" checked id="male" value='m'>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="female" value='f'>
                        <label for="female">Female</label>
                    </div>
                </div>
                <div class="inner" title="Local : Donors under this hospital&#13;Global : Donors available in the entire website">
                    <label>Search  Type &#128712;</label>
                    <div>
                        <input type="radio" name="searchType" id="Local" checked value='Local'>
                        <label for="Local">Local</label>
                        <input type="radio" name="searchType" id="Global" value='Global'>
                        <label for="Global">Global</label>
                    </div>
                </div>
                <div>
                    <input type="text" name="id" value="{{hid}}" hidden />
                    <input type="submit" value="search">
                </div>
            </form>
        </div>
    </main>
</body>

</html>