<html>
<header>
    <title>
        login
    </title>
</header>
<body bgcolor="#008b8b" text="white">
    <h1 align="center">User login</h1>
    <form action="get_login" method="post">{% csrf_token %}
        <table align="center" border="0" padding="10">
            <tr>
                <td>User ID</td>
                <td><input type="textbox" name="uname"> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="textbox" name="pass"> </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                <td>
                    {{ message }}
                </td>
            <tr>
        </table>
</body>
<html>