{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/base-profile.css' %}">
<link rel="stylesheet" href="{% static '/css/form.css' %}">
<link rel="stylesheet" href="{% static '/css/approval.css' %}">
{% endblock links %}

{% block nav %}
<li><a href="/">Home</a></li>
{% endblock nav %}

{% block main %}

<div class="profile-title">
    Patient Details
</div>
<div class="profile-container">

  {% for PatientID, HospitalID, Name, Gender, BloodGroup, DOB, Pin, Place, District, Address, Phone, Email, photoName, MedicalReport, RegDate in records %}

  {% with photo="/data/patient/photo/"|add:photoName %}

  {% include "base_profile.html" with name=Name id=PatientID hid=HospitalID photoName=photo bloodGroup=BloodGroup gender=Gender address=Address dob=DOB place=Place pin=Pin phone=Phone email=Email district=District regDate=Regdate proofName=MedicalReport proofUrl='download_patient_report' only %}

  {% endwith %}

  {%endfor%}

    <form name="approval_form" method="post" action="{% url 'validate_patient_approval' %}">
        {% csrf_token %}
        <div class="form-wrapper">
            <div class="profile-name">Approve Patient</div>
            <div class="input-box">
                <div>Approve</div>
                <div>
                    <input name="approve_status" type="radio" id="status-yes" value="Yes" checked {{disabled}}>
                    <label for="status-yes">Yes</label>
                    <input name="approve_status" type="radio" id="status-no" value="No" {{disabled}}>
                    <label for="status-no">No</label>
                </div>
            </div>
            <div class="input-options">
                <textarea name="comment" maxlength="200" cols="30" required {{disabled}}></textarea>
                <input type="text" name="patientID" value="{{pid}}" hidden>
            </div>
            {% if message %}
            <div class="msg">
                {{message}}
            </div>
            {% endif %}
            <div class="input-box">
                <input type="submit"  class="submit" value="Submit">
            </div>
      </div>
  </div>
</form>

</div>

{% endblock main %}