{% extends 'base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static '/css/form.css' %}">
<link rel="stylesheet" href="{% static '/css/date.css' %}">
{% endblock links %}

{% block nav %}
<li><a href="/login">Log in</a></li>
<li><a href="/">Home</a></li>
{% endblock nav %}

{% block main %}

<div class="toast-container">
    <div class="toast-wrapper">
        <div class="toast-item">
            <div class="toast-title">Error</div>
            <div class="toast-message">An error occured</div>
        </div>
        <div class="toast-close-btn"></div>
    </div>
</div>

<div class="title">
    <h1>Signup as a Patient</h1>
</div>

<div class="form-container">
    <form action="{% url 'validate_patient_reg' %}" method="post" enctype="multipart/form-data" id="signupForm"
        {{disabled}}>
        <div class="form-wrapper">
            {% csrf_token %}

            <div class="input-box">
                <input type="text" name="name" id="name" maxlength="50" placeholder="" autofocus autocomplete="username"
                    {{disabled}} required autocomplete="username">
                <label class="input-label" for="name">Full name</label>
            </div>

            <div class="input-box">
                <input type="password" name="pass" id="new" maxlength="20" placeholder="" autocomplete="new-password"
                    {{disabled}} required>
                <label class="input-label" for="new">Password</label>
                <button class="show-pass-btn" type="button" tabindex="-1"></button>
            </div>

            <div class="input-box">
                <input type="password" id="reType" maxlength="20" placeholder="" autocomplete="new-password"
                    {{disabled}} required>
                <label class="input-label" for="reType">Re-enter Password</label>
                <button class="show-pass-btn" type="button" tabindex="-1"></button>
            </div>

            <div class="input-options">
                <label for="gender">Gender</label>
                <select required id="gender" name="gender" required>
                    <option value="">Select gender</option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>
            
            <div class="input-options">
                <label for="blood">Blood Type</label>
                <select id="blood" name="blood" required>
                    <option value="">Select a type</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
            </div>

            <div class="input-box">
                <input type="email" name="email" id="email" placeholder="" {{disabled}} required autocomplete="email" >
                <label class="input-label" for="email">Email</label>
            </div>

            <div class="input-box">
                <input type="text" name="phone" id="phone" autocomplete="tel" minlength="10" maxlength="12"  placeholder="" {{disabled}} required>
                <label class="input-label" for="phone">Phone</label>
            </div>

            <div class="input-box">
                <input type="text" name="place" id="place" maxlength="50" placeholder="" {{disabled}} required>
                <label class="input-label" for="place">Place</label>
            </div>

            <div class="input-box">
                <input type="text" name="address" id="address" autocomplete="home" maxlength="50" placeholder="" {{disabled}} required>
                <label class="input-label"  for="address">Address</label>
            </div>

            <div class="input-box">
                <input type="text" name="pin" id="pin" placeholder="" maxlength="6" minlength="6" {{disabled}} required>
                <label class="input-label" for="pin">Pin</label>
            </div>

            <div class="input-options">
                <label for="dist">District</label>
                <select required name="dist" id="dist" {{disabled}}>
                    <option value="">Select a District</option>
                    <option value="Alappuzha">Alappuzha</option>
                    <option value="Ernakulam">Ernakulam</option>
                    <option value="Idukki">Idukki</option>
                    <option value="Kannur">Kannur</option>
                    <option value="Kasaragod">Kasaragod</option>
                    <option value="Kollam">Kollam</option>
                    <option value="Kottayam">Kottayam</option>
                    <option value="Kozhikode">Kozhikode</option>
                    <option value="Malappuram">Malappuram</option>
                    <option value="Palakkad">Palakkad</option>
                    <option value="Pathanamthitta">Pathanamthitta</option>
                    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                    <option value="Thrissur">Thrissur</option>
                    <option value="Wayanad">Wayanad</option>
                </select>
            </div>

            <div class="input-box" id="input-wrapper" id="input-wrapper" data-max="2006">
                <input type="text" name="dob" class="date-input" id="date-input" placeholder="" readonly>
                <label for="date-input" class="input-label">Your Date of Birth</label>
                <div class="calendar">
                    <div class="header">
                        <div class="custom-select month-select">
                            <div class="select-trigger">Select Month</div>
                            <div class="custom-options"></div>
                        </div>
                        <div class="custom-select year-select">
                            <div class="select-trigger">Select Year</div>
                            <div class="custom-options"></div>
                        </div>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days"></div>
                </div>

            </div>

            <div class="input-options">
                <label for="h-proof">Upload Your Proof</label>
                <input type="file" name="medicalReport" {{disabled}} id="h-proof" accept=".pdf" required>
            </div>

            <div class="input-options">
                <label for="h-photo">Upload Your Photo</label>
                <input type="file" name="photo" {{disabled}} id="h-photo" accept="image/*" required>
            </div>

            {% if message %}
            <div class="msg" id="msg">{{message}}</div>
            {% endif %}
            <input type="hidden" name="hospital" value="{{hid}}">
            <button type="submit" class="submit" {{disabled}}>Signup Now</button>
        </div>
    </form>
</div>
{% endblock main %}

{% block scripts %}

{% if message %}
<script>
    location.href = "#msg"
</script>
{% endif %}
<script src="{% static '/js/signup.js' %}"></script>
<script src="{% static '/js/date.js' %}"></script>
{% endblock scripts %}