<html>

<head>
    <title>patient Profile</title>
</head>

<body>
    <table width="913" border="0" cellpadding="0" cellspacing="0" align="center">
        <!--DWLayoutTable-->
        <tr>
            <td width="47" height="41">&nbsp;</td>
            <td width="156">&nbsp;</td>
            <td width="340">&nbsp;</td>
            <td width="41">&nbsp;</td>
            <td width="107">&nbsp;</td>
            <td width="150">&nbsp;</td>
            <td width="72">&nbsp;</td>
        </tr>
        <tr>
            <td height="55">&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="3" valign="top">
                <h1 align="center">Patient Profile</h1>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="60">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="329">&nbsp;</td>
            <td colspan="2" rowspan="2" valign="top">
                {% comment %} {% if records %} {% endcomment %}
                <table border="0" align="center" cellpadding="15">
                    {% for patientID,HospitalID,Name,Gender,BloodGroup,DOB,Pin,Place,District,Address,Phone,Email,photo,MedicalReport,RegDate in records %}
                    <tr>
                        <td>
                            <img src="./static/data/patient/photo/{{ photo }}" width="300px" />
                        </td>
                    </tr>
                    <tr>
                        <td>patient ID</td>
                        <td>
                            <label>{{patientID}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>patient name</td>
                        <td>
                            <label>{{Name}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>date of birth</td>
                        <td>
                            <label>{{DOB}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Place</td>
                        <td>
                            <label>{{Place}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <label>{{Address}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td>
                            <label>{{Pin}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>
                            <label>{{Phone}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>District</td>
                        <td>
                            <label>{{District}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <label>{{Email}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Group</td>
                        <td>
                            <input type="radio" name="h_bb" id="h-bb" checked disabled />
                            <label for="h-bb">{{BloodGroup}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Medicak Report</td>
                        <td>
                            <form nam="report_form" method="post" action="download_patient_report">
                                {% csrf_token %}
                                <input type="hidden" name="report" value="{{ MedicalReport }}" />
                                <input type="submit" value="Download Report" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Registration date</td>
                        <td>
                            <label>{{RegDate}}</label>
                        </td>
                    </tr>
                </table>
                {%endfor%}
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="603">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="38">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>

</html>