<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Untitled Document</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    </head>

    <body>
        <h1 align="center">Your Organ Donation Registration Status</h1>
        {% if records %}
        <table border="1" cellspacing="0" align="center" cellpadding="10">
            <tr>
                <th>Request ID</th>
                <th>Organ Name</th>
                <th>Registration date</th>
                <th>Show Details</th>
            </tr>
            {% for RequestID,OrganName,Date in records %}
            <tr>
                <td>{{RequestID}}</td>
                <td>{{OrganName}}</td>
                <td>{{Date}}</td>
                <td>
                    <form name="send_data" id="send-data" method="post" action="{% url 'patient_organ_request_details' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="id" value="{{RequestID}}" hidden />
                        <input type="submit" name="Submit" value="View Details" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <br />
        <div align="center"><b>You have not requested any organ donation</b></div>
        {% endif %}
        <a href="javascript:window.history.back();"><button>Back</button></a>
    </body>
</html>
