<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Untitled Document</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    </head>

    <body>
        <h1 align="center">Patient Approval</h1>
        {% if records %}
        <table border="1" cellspacing="0" align="center" cellpadding="15">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Place</td>
                <td>reg date</td>
                <td>fetch data</td>
            </tr>
            {% for patientid,name,place,regdate in records %}
            <tr>
                <td>{{patientid}}</td>
                <td>{{name}}</td>
                <td>{{place}}</td>
                <td>{{regdate}}</td>
                <td>
                    <form name="send_data" id="send-data" method="post" action="show_patient_details" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="patientid" value="{{patientid}}" hidden />
                        <input type="submit" name="Submit" value="Show More" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <br />
        <b>No patients are waiting for approval</b>
        {% endif %}
    </body>
</html>
