<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Organ Availability Index</title>
    </head>
    <body>
        <h1 align="center">List of hospital</h1>
        <div>
            <table border="1px" cellspacing="0px" align="center" cellpadding="5px">
                <tr>
                    <td>Name</td>
                    <td>Place</td>
                    <td>Location</td>
                    <td>Pin</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Make a request</td>
                </tr>
                {% if records %} {% for id,Name,Place,Pin,Phone,District,Location,Email in records %}
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Place}}</td>
                    <td>{{Location}}</td>
                    <td>{{Pin}}</td>
                    <td>{{Phone}}</td>
                    <td>{{Email}}</td>
                    <td align="center">
                        <form action="patient_make_organ_donation_request" method="post">{%csrf_token%}
                            <input type="hidden" value="{{id}}" name="hid" />
                            <input type="hidden" value="{{organ}}" name="organ">
                            <input type="submit" value="Request" />
                        </form>
                    </td>
                </tr>

                {% endfor %} {% else %}
                <br />
                <b>No Hospitals found</b>
                {% endif %}
            </table>
        </div>
    </body>
</html>
